
// ---------------------------------------------------------------------------------------------------------------------
// Base for inputs
// ---------------------------------------------------------------------------------------------------------------------

body {
  --input-background-color: var(--color-bright-gray);
  --input-hover-color: var(--color-bright-gray);
  --input-focus-color: var(--color-bright-gray);
  --input-radius: 10px;
  --input-height: 2.5rem;
  --input-padding-lr: 1rem;
  --input-label-font-size: 0.875rem;
}

@import './forms/select';
@import './forms/input';
@import './forms/textarea';
@import './forms/checkbox-radios';


