@import "../core";

// ---------------------------------------------------------------------------------------------------------------------
// Global layout
// ---------------------------------------------------------------------------------------------------------------------

body {
  --header-transition: all .2s cubic-bezier(.19,1,.22,1);
  --header-height: 78px;
  --header-height-sticky: 78px;

  @include media-breakpoint-down(md) {
    --header-height: 50px;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Sticky behavior
// ---------------------------------------------------------------------------------------------------------------------

.shopify-section-header {
  position: sticky;
  z-index: 6;
  position: -webkit-sticky;
  top: -1px; // css trick to check if header is sticky
  width: 100%;
  transform: translateY(0);
  transition: var(--header-transition);

  &.shopify-section-header-hidden {
    transform: translateY(-100%);
  }

  &.shopify-section-header-sticky {
    .header {
      --header-color: var(--color-gray-black);
      --header-color-complementary: var(--color-white);
      --header-background: rgba(255, 255, 255, 0.5);
      background: var(--header-background);
      backdrop-filter: blur(15px);
    }
  }


  &:has(.navigation__item.active) {
    transform: translateY(0) !important;

    .header {
      --header-color: var(--color-gray-black);
      --header-color-complementary: var(--color-white);
      --header-background: var(--color-white);
      backdrop-filter: unset;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Header color variation depending on main slider
// ---------------------------------------------------------------------------------------------------------------------

body:not(.template-index) {
  --header-color: var(--color-gray-black);
  --header-color-complementary: var(--color-white);
  --header-background: transparent;
}

.template-index.theme-slide-dark {
  --header-color: var(--color-gray-black);
  --header-color-complementary: var(--color-white);
  --header-background: rgba(255, 255, 255, 0.5);
}

.template-index.theme-slide-light {
  --header-color: var(--color-white);
  --header-color-complementary: var(--color-gray-black);
  --header-background: rgba(142, 142, 142, 0.3);
}

// ---------------------------------------------------------------------------------------------------------------------
// Header
// ---------------------------------------------------------------------------------------------------------------------
.header {
  display: grid;
  grid-template-areas: 'heading navigation icons';
  grid-template-columns: 1fr 10fr 4fr;
  height: var(--header-height);
  color: var(--header-color);
  transition: var(--header-transition);

  @include media-breakpoint-up(lg) {
    @include flex-gap(horizontal, 2rem);
    background: var(--header-background);
    backdrop-filter: blur(15px);
  }

  @include media-breakpoint-down(lg) {
    grid-template-areas: 'left-icon heading icons';
    grid-template-columns: 1fr 3fr 1fr;
  }

  &__logo {
    grid-area: heading;

    // ---------------------------------------------------------------------------------------------------------------------
    // Logo
    // ---------------------------------------------------------------------------------------------------------------------
    .header-logo {
      svg {
        width: 6.74rem; // 108px
        color: var(--header-color);
        transition: var(--header-transition);
      }
    }

    @include media-breakpoint-down(lg) {
      justify-self: center;
    }
  }

  &__icons {
    padding-right: 0.75rem;
    grid-area: icons;
    @include flex-gap(horizontal, var(--space-l));

    @include media-breakpoint-up(lg) {
      @include flex-gap(horizontal, var(--space-m));

      .cart-icon-bubble {
        padding-left: var(--space-xs);
      }

      .header-icon {
        padding: var(--space-xs);
      }
    }

    .icon {
      transition: var(--header-transition);
      color: var(--header-color);

      &.icon-user--active {
        border: 1px solid var(--header-color);
        border-radius: 50%;
      }
    }
  }

  &__button.button.button--alt {
    padding: .55rem var(--space-m) .45rem var(--space-m);
    border-color: var(--header-color);

    span {
      text-transform: initial;
      color: var(--header-color);
    }
  }

  &__left-icon {
    grid-area: left-icon;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Navigation inline
// ---------------------------------------------------------------------------------------------------------------------
.navigation {
  grid-area: navigation;

  &__item.active,
  &__item:hover {
    .navigation__link {
      color: var(--color-gray-black);
      background-color: var(--color-lotion);
    }
  }

  &__link {
    font-size: .9375rem;
    color: var(--header-color);
    transition: var(--header-transition);
    border-radius: 50px;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Cart Icon bubble (count)
// ---------------------------------------------------------------------------------------------------------------------

.cart-icon-bubble {
  &__count {
    width: 1.125rem;
    height: 1.125rem;
    color: var(--header-color-complementary);
    font-size: 0.625rem;
    background: var(--header-color);
    transition: var(--header-transition);
    padding-top: 2px;
    top: -0.75rem;
    right: -0.75rem;

    @include media-breakpoint-down(md) {
      width: 0.875rem;
      height: 0.875rem;
      top: -0.6rem;
    }
  }
}
