@import "../core";

.About{
    &__content {
        @include media-breakpoint-down(md) {
            flex-direction: column;
            text-align: center;
            @include flex-gap(vertical, var(--space-xl));
            &--left {
                width: 100%;
            }
        }
    }
}