@import '../core';

.hero {
    @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
        text-align: center;

        &__preTitle{
            margin-top: var(--space-xl);
        }

        &__icons{
            justify-content: center;
        }
    }


    &__title {
        width: 32rem;

        @include media-breakpoint-down(lg) {
            width: 100%;
            margin: 0 auto;
        }
    } 
    &__subtitle {
        width: 40rem;
        @include media-breakpoint-down(lg) {
            width: 100%;
            justify-content: center;
        }
    }

    &__button{
        @include media-breakpoint-down(lg) {
            margin: 0 auto;
        }
    }

    &__image {
        filter: drop-shadow(40px 40px 10px rgba(0, 0, 0, 0.25));

        @include media-breakpoint-down(lg) {
            .card {
                width: 220px !important;
                height: 230px !important;

                &__image {
                    width: 220px !important;
                    height: 230px !important;
                }
            }
        }
    }
}