// ---------------------------------------------------------------------------------------------------------------------
// Links
// ---------------------------------------------------------------------------------------------------------------------

a {
    color: initial;
    text-decoration: none;
}

.u-underline {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}
