@import "../../core";

// ---------------------------------------------------------------------------------------------------------------------
// Form field : Input
// ---------------------------------------------------------------------------------------------------------------------

.field {
  position: relative;
  width: 100%;
  display: flex;

  & + & {
    margin-top: calc(var(--space-m) * 2);
  }

  &__spacing{
    margin-top: calc(var(--space-m) * 2);
  }

  &__nomargin {
    margin-top: 0 !important;
  }

  &__input {
    @extend %field-input !optional;
  }

  &__input--error {
    border: 0.0625rem solid var(--color-error);

    & ~ .field__label {
      color: var(--color-error);
    }
  }

  &__helper {
    opacity: .5;
    font-size: .7rem;
    line-height: 1.2;
    margin-top: .5rem;
  }

  &__label {
    color: var(--color-philippine-gray);
    font-size: var(--input-label-font-size);
    left: var(--input-padding-lr);
    top: calc(var(--input-height) / 2 - var(--input-label-font-size) / 1.5);
    pointer-events: none;
    position: absolute;
    transition: top 100ms ease, font-size 100ms ease, left 100ms ease;
    line-height: 1.5;
  }

  .field__input::placeholder {
    opacity: 0;
  }

  .field__input:focus ~ .field__label,
  .field__input:not(:placeholder-shown) ~ .field__label,
  .field__input:-webkit-autofill ~ .field__label {
    font-size: 0.75rem;
    top: -1.5em;
    left: 0;
  }
}
