// Import fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    // typography
    --base-text-size: 0.875rem; // 14px
    --text-size-increment: 1.2;
    --base-text-line-height: 1.1875rem;
    --text-xs: calc(var(--base-text-size) / var(--text-size-increment));
    --text-s: var(--base-text-size);
    --text-m: calc(var(--text-s) * var(--text-size-increment));
    --text-l: calc(var(--text-m) * var(--text-size-increment));
    --text-xl: calc(var(--text-l) * var(--text-size-increment));
    --text-2xl: calc(var(--text-xl) * var(--text-size-increment));
    --text-3xl: calc(var(--text-2xl) * var(--text-size-increment));
    --text-4xl: calc(var(--text-3xl) * var(--text-size-increment));
    --line-height-fixed-amount: 0.35rem;
    --line-height-relative-amount: 1.1em;
    --globalLineHeight: calc(var(--line-height-fixed-amount) + var(--line-height-relative-amount));

    // Fonts
    --heading-font-family: 'Amaranth', sans-serif;
    --heading-italic-font-family: 'Amaranth', sans-serif;
    --body-font-family: 'Open Sans', serif;
    --body-font-weight: 400;
    --heading-font-weight: 400;

    // spacing
    --unit: 0.5rem;
    --space-increment: 1.65;
    --space-xs: calc(var(--unit) / var(--space-increment));
    --space-s: var(--unit);
    --space-m: calc(var(--space-s) * var(--space-increment));
    --space-l: calc(var(--space-m) * var(--space-increment));
    --space-xl: calc(var(--space-l) * var(--space-increment));
    --space-2xl: calc(var(--space-xl) * var(--space-increment));
    --space-3xl: calc(var(--space-2xl) * var(--space-increment));
    --space-4xl: calc(var(--space-3xl) * var(--space-increment));

    // Colors
    --color-gray-black: #1E1E1E;
    --color-gray: #696969;
    --color-white: #fff;
    --color-dark-black: #292525;
    --color-black: #030302;
    --color-gold: #DAB967;
    --color-error: #E2918C;
    --color-success: #88BEA2;

    // grid
    --page-width: 90rem;
    --grid-cols: 34;
    --grid-col-start: 3;
    --grid-col-end: 33;
    --grid-col-gap: 0.8125rem;
    --grid-row-gap: 12px;
    --grid-outside-gap: 0.75rem;
    --grid-outside-gap-large: 3.125rem;
    --grid-col-start-short: 10;
    --grid-col-end-short: 27;
    --grid-col-start-large: 2;
    --grid-col-end-large: 26;
    --grid-cols-mobile: 16;
    --grid-col-start-mobile: 1;
    --grid-col-end-mobile: 17;
    --grid-col-gap-mobile: 10px;
    --grid-col-start-short-mobile: 3;
    --grid-col-end-short-mobile: 15;
    --grid-outside-gap-mobile: 0.8125rem;
    --button-border-radius: 70px;

    // aspect-ratio
    --product-card-aspect-ratio: 3 / 4;

    // misc.
    --field-border-radius: 10px;
    --field-border-width: 2px;
    --global-transition-speed: 200ms;
    --global-transition-speed-longer: 400ms;
    --global-ease: cubic-bezier(0.40, 0, 0, 1);
    --global-easeReverse: cubic-bezier(1, 0, 0, 0.40);
    --duration-short: var(--global-transition-speed);
    --duration-default: var(--global-transition-speed);
    --duration-long: var(--global-transition-speed-longer);
    --global-transition: all var(--global-transition-speed) var(--global-ease);

    // Shopify Dawn
    --font-body-scale: var(--text-s);
    --font-heading-scale: var(--text-l);
}