// ---------------------------------------------------------------------------------------------------------------------
// Include placeholders
// @extend %placeholder-name;
// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Input
// ---------------------------------------------------------------------------------------------------------------------

%field-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--color-bright-gray);
    border-radius: var(--field-border-radius);
    background: var(--input-background-color);
    color: var(--color-dark-black);
    font-size: var(--text-small);
    width: 100%;
    height: var(--input-height);
    box-sizing: border-box;
    transition: background var(--global-transition-speed) var(--globalEase);
    text-align: left;
    padding: 0.56rem 1rem 0.45rem;

    &:hover {
        background: var(--input-hover-color);
    }

    &:focus {
        background: var(--input-focus-color);
        outline: transparent;
    }

    &:not(:placeholder-shown):invalid {
        border: 0.0625rem solid var(--color-error);

        &~label {
            color: var(--color-error);
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------
// Icons
// ---------------------------------------------------------------------------------------------------------------------

%icon {
    width: 22px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center
}

%chevron {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transform-origin: center;
    height: 11px;
    width: 15px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6785 2L6.67847 6L1.67847 2' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transition: var(--global-transition);
}

// ---------------------------------------------------------------------------------------------------------------------
// Layout
// ---------------------------------------------------------------------------------------------------------------------

%page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding-left: var(--grid-outside-gap-mobile);
    padding-right: var(--grid-outside-gap-mobile);
}

// ---------------------------------------------------------------------------------------------------------------------
// Transition
// ---------------------------------------------------------------------------------------------------------------------

%transition {
    transition: all var(--global-transition-speed) var(--global-ease);
}

// ---------------------------------------------------------------------------------------------------------------------
// Button
// ---------------------------------------------------------------------------------------------------------------------

%button {
    font-size: var(--text-s);
    border-radius: var(--button-border-radius);
    letter-spacing: -0.2px;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    text-decoration: none;
    border: none;
    appearance: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 1px solid transparent;
    width: fit-content;
}

%button-primary {
    border-radius: var(--button-border-radius);
    transition: all 150ms ease-in;
    border: 1px solid var(--color-dark-black);
    color: var(--color-dark-black);
    text-transform: uppercase;
}

%button-tertiary {
    border-radius: var(--button-border-radius);
    transition: all 150ms ease-in;
    border: 1px solid var(--color-dark-black);
    color: var(--color-dark-black);
    text-transform: uppercase;
}

%button-alt {
    border-radius: var(--button-border-radius);
    transition: all 150ms ease-in;
    border: 1px solid var(--color-beige);
    color: var(--color-dark-black);
    text-transform: uppercase;
}

%button-black {
    border-radius: var(--button-border-radius);
    transition: all 150ms ease-in;
    border: 1px solid var(--color-dark-black);
    background: var(--color-dark-black);
    color: var(--color-white);
    text-transform: uppercase;
}

%button-black--hover {
    border: 1px solid var(--color-dark-black);
    background: transparent;
    color: var(--color-dark-black);
}

%button-square {
    padding: 0;
    min-width: unset;
    width: 3.125rem;
    height: 3.125rem;
}