@import "../core";

// ---------------------------------------------------------------------------------------------------------------------
// Home - specific template to be included in homepage
// ---------------------------------------------------------------------------------------------------------------------

// header above main slider
#MainContent {
    margin-top: calc(var(--header-height) * -1);

    .react-component-hero {
        margin-top: 60px;
    
        @include media-breakpoint-down(lg) {
            margin-top: 60px;
        }
    }
    
    .react-component, .section {
        margin-top: 100px;
    
        @include media-breakpoint-down(lg) {
            margin-top: 50px;
        }
    }
}
