@import "../core";

.Home {
    height: calc(100vh - 95px);
    overflow: auto;

    @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
        text-align: center;

        &__preTitle {
            margin-top: var(--space-xl);
        }

        &__icons {
            justify-content: center;
        }
    }

    &__title {
        width: 48rem;

        @include media-breakpoint-down(lg) {
            width: 100%;
            margin: 0 auto;
        }
    }

    &__subtitle {
        width: 40rem;

        @include media-breakpoint-down(lg) {
            width: 100%;
            justify-content: center;
        }
    }

    &__button {
        @include media-breakpoint-down(lg) {
            margin: 0 auto;
        }
    }

    &__icons {
        a:hover {
            color: var(--color-gold);
            transition: color 0.3s ease-in-out;
        }
    }

    &__image {
        filter: drop-shadow(40px 40px 10px rgba(0, 0, 0, 0.25));

        @include media-breakpoint-down(lg) {
            .card {
                width: 220px !important;
                height: 230px !important;

                &__image {
                    width: 220px !important;
                    height: 230px !important;
                }
            }
        }
    }
}